* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #060447;
  --yellow-color: #fff38a;
  --yellow-dark-color: #827b68;
}

::selection {
  color: var(--background-color);
  background-color: var(--yellow-color);
}

body {
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  padding: 0 24px;
  overflow-x: hidden;
}
@media (max-width: 990px) {
  body {
    padding: 3rem 24px;
  }
}

.parent {
  max-width: 1200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 5rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 82px;
}

.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .text-container {
    flex: initial;
  }
}

.text-container .text-content {
  position: relative;
  width: 100%;
  min-height: 310px;
  overflow: hidden;
  animation: text-content 1.5s ease-in-out;
}

@keyframes text-content {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.text-content .text-wrapper {
  position: absolute;
  top: 0;
  left: 20%;
  width: 100%;
  height: 100%;
  transition: 0.8s;
  opacity: 0;
}

.text-content .text-wrapper:nth-of-type(1) {
  left: 0;
  opacity: 1;
}

@media (max-width: 520px) {
  .text-container .text-content {
    min-height: 410px;
  }
  .text-content .text-wrapper {
    width: 300px;
  }
}

.text-container .text-content .logo {
  width: 80px;
  max-width: 422px;
  margin-bottom: 24px;
}
.text-container .text-content .logo img {
  width: 100%;
  height: 100%;
}

.text-container .text-content .title {
  font-weight: 700;
  font-size: 40px;
  color: var(--yellow-color);
  line-height: 48.76px;
  margin-bottom: 8px;
}

.text-container .text-content .description {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: var(--yellow-color);
  width: 100%;
  max-width: 422px;
}

.text-container .realease-year {
  color: var(--yellow-color);
  font-size: 12rem;
  font-weight: 600;
  letter-spacing: -20px;
  min-width: 447px;
  user-select: none;
}
.text-container .realease-year .year-span.active {
  display: inline-block;
  animation: year-span 0.5s ease-in-out;
}

@keyframes year-span {
  from {
    opacity: 0;
    transform: translateX(40%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 520px) {
  .text-container .realease-year {
    font-size: 8rem;
  }
}

.image-container {
  position: relative;
  line-height: 0;
  height: 604px;
  width: 100%;
  max-width: 422px;
  overflow: hidden;
  animation: image-container 1s ease-in-out;
}

@keyframes image-container {
  from {
    transform: scale(0) rotate(-90deg);
  }
  to {
    transform: scale(1) rotate(0);
  }
}

.image-container img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 100%;
  transition: 0.8s;
}

.image-container img:nth-of-type(1) {
  left: 0;
}

@media (max-width: 990px) {
  .text-container,
  .image-container {
    margin: auto;
  }
}

/* Switcher */
.switcher {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.switcher .btns {
  display: flex;
  align-items: center;
  gap: 45px;
}

.switcher .btns i {
  color: var(--yellow-dark-color);
  font-size: 2.2rem;
  cursor: pointer;
}
.switcher .btns i.active {
  color: var(--yellow-color);
}

.switcher .time-line {
  position: relative;
  flex: 1;
  min-width: 350px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}
.switcher .time-line::before {
  position: absolute;
  z-index: 1;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: calc(100% - 5px);
  background-color: var(--yellow-dark-color);
}
.switcher .progressive-line {
  position: absolute;
  z-index: 2;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 0;
  background-color: var(--yellow-color);
  transition: 0.3s ease-in-out;
}

@media (max-width: 563px) {
  .switcher .btns {
    order: 2;
  }
  .switcher .btns,
  .switcher .time-line {
    margin: auto;
  }
}

.switcher .time-line span {
  position: relative;
  z-index: 3;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: var(--yellow-dark-color);
  transition: 0.8s ease-in-out;
}

.switcher .time-line span.active {
  background-color: var(--yellow-color);
  box-shadow: 0px 0px 5px var(--yellow-color);
}
